{:paths ["src"]
 :deps {io.github.kotoba-lang/identity {:git/sha "5cf94e38c816ced6857ef62de344f6adea9fc050"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}